{% extends 'base.html.twig' %}

{% block title %}Administration de l'association{% endblock %}

{% block body %}

<h1>Gestion de l'association</h1>
<a href="{{path('account')}}">Retourner sur mon compte</a>
<hr>


{% endblock %}
