{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block mainTitle %}Créer un nouveau mot de passe{% endblock %}

{% block body %}

    {# Affichage des messages flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{message}}</div>
        {% endfor %}

    {# Affichage du formulaire de réinitialisation du mot de passe de l'utilisateur #}
    <section class="container mediumFormSize">
        <div class="row p-2">
            <div class="col-12 col-md-6 m-auto">
                <form method="post">
                    {# Affichage des messages flash #}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    
                    {# Modification du mot de passe #}
                    <h2 class="h3 mb-3 font-weight-normal">Votre nouveau mot de passe</h2>
                    <label for="inputPassword">Nouveau mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-2" 
                    placeholder="Veuillez saisir votre mot nouveau de passe" required>
                    
                    {# Modification du mot de passe #}
                    <label for="inputPassword">Confirmation du mot de passe</label>
                    <input type="password" name="password_verify" id="inputPassword" class="form-control mb-2" 
                    placeholder="Veuillez confirmer votre mot nouveau de passe" required>
                    
                    {# Champ caché pour la transmission du token de réinitialisation #}
                    <input type="hidden" name="reset_token" value="{{resetToken}}">
                    
                    <button class="btn btn-md btn-secondary mt-4" type="submit">Valider</button>
                </form>
            </div>
        </div> 
    </section>       
{% endblock %}