{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="container">
    <h1 class="border border-dark rounded bg-secondary text-white text-center p-2 d-block mb-5 mt-5">Page d'accueil</h1>
</div>

{% endblock %}

{% block javascripts %}{% endblock %}
