{# Création du footer du template de base #}
<footer>
    <div class="footer-container">
        <p>
            &copy <script type "text/javascript">document.write(new Date().getFullYear());</script> Le site de l'association <br>
            <small>
                Venez partager notre passion !
                &middot; <a href="#">Contact</a> &middot; <a href="#">Politique de protection des données</a>
            </small>
        </p>
    </div>
</footer>