{# Email de réinitialisation de mot de passe #}

<h1>Mot de passe oublié</h1>
<p>Vous souhaitez changer de mot de passe sur notre site, veuillez cliquer sur le lien ci-dessous pour le réinitialiser.</p>
{# Lien vers la route d'activation avec une url absolue avec le token en paramètre #}
<p><a href="{{absolute_url(resetUrl)}}">Réinitialiser mon mot de passe</a></p>